[user]
	name = Jostein Gogstad
	email = jostein.gogstad@gmail.com
	signingKey = 79026CBF80B244C7
[alias]
	git = !exec git
[core]
	editor = nvim
	pager = cat
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = true
	diff = auto
	status = auto
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = cyan bold
	branch = cyan bold
	changed = magenta bold
	deleted = red bold
	untracked = yellow bold
[push]
	default = simple
	followTags = true
[pull]
	rebase = true
[tag]
	gpgsign = true
[commit]
	gpgsign = true
[filesystem "Oracle Corporation|1.8.0_131|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
