[user]
	name = Jostein Gogstad
	email = jostein.gogstad@gmail.com
	signingKey = 27FC9E0CBABCC20A
[alias]
	git = !exec git
[core]
	editor = nvim
	pager = cat
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = true
	diff = auto
	status = auto
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = cyan bold
	branch = cyan bold
	changed = magenta bold
	deleted = red bold
	untracked = yellow bold
[push]
	default = simple
[pull]
	rebase = true
[tag]
	gpgsign = true
[commit]
	gpgsign = true
[filesystem "Oracle Corporation|1.8.0_131|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
