alias l='ls -G'
alias ll='l -l'
alias la='l -a'
alias ld='l -d'

alias brew="ALL_PROXY=proxy.lv.no:80 brew"
alias curl='http_proxy=proxy.lv.no:80 https_proxy=proxy.lv.no:80 curl --noproxy "localhost,127.0.0.1,0.0.0.0,lv.no" --insecure'